<html>
<head>

</head>

<body>
  <h2> You are up and running! </h2>

  <p> Thanks for Contributing to Kaya. </p>

  Checkout a very simple <a href="/conanbatt">demonstration</a> by Conanbatt
</body>

</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> 
